* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0 auto;
  font-family: Optima, Palatino, Georgia, "Helvetica Neue", Helvetica;
  font-size: 16px;
  line-height: 20px;
  /* max-width: 950px; */
  /* background-color: rgba(170, 170, 170, 0.21); */
  background-color: white;
}

section,
p,
header {
  font-size: inherit;
  line-height: inherit;
}
.doublealign {
  text-align: justify;
}

a {
  text-decoration: none;
  color: #0049a5;
}

.container,
footer {
  max-width: 1250px;
  margin: 0px auto;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

/*--- navigation bar ---*/
.navbar {
  position: fixed;
  background-color: whitesmoke;
  margin-bottom: 30px;
  background-image: linear-gradient(to bottom, #2AA7DE, white);
  top: 0;
  width: 100%;
  z-index: 1;
}
.nav-link,
.navbar-brand {
  color: inherit;
  cursor: pointer;
  margin-top: 5px;
  margin-bottom: 5px;
}

.navbar-brand {
  font-size: 1.7em;
  font-weight: bold;
  font-variant: small-caps;
}

.nav-link {
  font-size: 1.3em;
  margin-right: 1.5em !important;
}

.navbar-collapse {
  justify-content: flex-end;
}

.nav-fix-margin {
  margin-bottom: 100px;
}

.majorrule {
  margin: 0px 0px;
  border: 0;
  height: 20px;
  background: #2AA7DE;
}

.header-block {
  display: grid;
  /*grid-template-columns: 0.5fr 1.5fr;*/
  /*max-width: 800px;*/
  text-align: center;
  /*width: 20%;*/
  margin: 90px auto 30px auto;
  /*grid-column-gap: 0px;*/
  grid-row-gap: 10px;
}

.logo {
  text-align: right;
  /*margin-right: 10px;*/
}
.logo img {
  width: 60px;
}
.title {
  grid-column: 2;
  grid-row: 1;
  font-size: 4em;
  color: #2AA7DE ;
  font-weight: bolder;
  font-variant: small-caps;
  text-align: left;
  margin-top: 5px;
  padding: 20px 0px 0px 25px;
}

.description {
  grid-column: 1/3;
  grid-row: 2;
  font-size: 1.3em;
  line-height: 1.5em;
  /*margin-left: 65px;*/
  margin-top: -5px;
}

.flexbox-container {
  display: flex;
  width: 80%;
  margin: 30px auto 20px auto;
  justify-content: space-between;
}

.flexbox-container .element {
  display: inline-flex;
}

.element p {
  margin-left: 20px;
  font-size: 1.2em;
  margin: auto 10px auto 20px;
}

.element img {
  width: 60px;
  margin: auto 0px;
}

.title-rule {
  height: 12px;
  border: 0;
  box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

.details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  column-gap: 50px;
  width: 100%;
}

.box p {
  font-size: 1.5em;
  margin: 5px 0px 20px 0px;
}

.box img {
  width: 75%;
}

.details .images {
  text-align: center;
}

img.analysis {
  margin: 10px 0px 0px 0px;
  width: 75%;
}

.codeblock {
  text-align: left;
  padding: 0px 0px;
}

pre,
code {
  font-size: 12px;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  background-color: #eef;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 5px 10px;
  overflow-x: auto;
}
pre > code {
  border: 0;
  padding-right: 0;
  padding-left: 0;
}

.divider hr {
  border: 0;
  height: 1px;
  opacity: 0.8;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
}

.scroller {
  /*display: flex;*/
  flex-wrap: nowrap;
  overflow-x: auto;
}

.scroller img {
  flex: 0 0 auto;
  height: 220px;
  width: auto;
  margin: 5px 10px 5px 10px;
}

.vspace10 {
  margin-bottom: 10px;
}
.vspace30 {
  margin-bottom: 30px;
}
.vspace50 {
  margin-bottom: 50px;
}
section .heading {
  font-size: 1.6em;
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 0px;
  text-align: center;
}

.heading-math {
  font-size: 0.9em;
}

.toprule {
  margin: 0px 0px;
  border: 0;
  height: 4px;
  background: #2AA7DE;
}

.datatable {
  overflow-x: scroll;
  font-size: 0.8em;
  text-align: center;
  clear: both;
  border-collapse: collapse;
  table-layout: fixed;
  word-wrap: break-word;
}

.datatable thead,
.datatable th {
  text-align: center;
}

.datatable th {
  /* padding-left: 10px; */
  font-family: monospace;
}

.datatable td {
  text-align: center;
  padding-right: 20px;
}

.td-footer {
  font-style: italic;
  font-size: 0.7em;
}

.td-warning {
  font-style: italic;
  font-size: 0.7em;
}

/*Leaderboard buttons*/
.button-list {
  margin-top: 20px;
  margin-top: 20px;
}
.btn {
  background-color: gainsboro;
  border-color: gainsboro;
  color: #2AA7DE;
  font-size: 1.2em;
  margin-right: 20px;
  margin-bottom: 10px;
  border-radius: 0.5em;
  font-weight: bold;
}

.btn:hover {
  background-color: #a9c4f5;
  border-color: #a9c4f5;
  color: #2AA7DE;
}

.button-list .heading {
  text-align: left;
  margin-top: 20;
  margin-bottom: 20px;
  font-size: 1.6em;
}

.button-list .heading u {
  text-decoration: none;
  border-bottom: 6px solid #2AA7DE;
}


/* Leaderboard table css */
table .arch {
  width: 13%;
}

table .venue {
  width: 10%;
}
table .rank {
  width: 5%;
}
table .method {
  width: 40%;
}
table .extra-data {
  width: 6%;
}
table .ca {
  width: 10%;
}
table .aa {
  width: 12%;
}
table .aa_3d {
  width: 12%;
}

table .aatd,
.catd,
.methoddt,
.aa-extd,
.aatd_3d {
  font-size: 1.1em;
}

table .datatd, .flagsd-emoji {
  font-size: 1em;
}

table .catd,
.aatd, .aa-extd, .aatd_3d {
  font-family: monospace;
}

.box2 {
  text-align: left;
}

.box2 p {
  font-size: 1.5em;
  text-align: center;
}

.box2 ul {
  list-style: none;
  font-size: 1.05em;
  line-height: 1.5em;
}

.box2 ul li::before {
  content: "➥";
  display: inline-block;
  margin-right: 1rem;
}

.box2 li i {
  color: black;
}

#contribute {
  margin-top: 20px;
}

hr.bottomrule {
  width: 950px;
  border: 0;
  height: 0;
  margin-bottom: 0px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

footer {
  margin-top: 0px;
  text-align: center;
}

.question {
  font-weight: bold;
}
.answer {
  margin-left: 30px;
}
.qa-box {
  text-align: justify;
}

@media (min-width: 1200px) {
  .container footer {
    max-width: 1000px;
  }
}

.top_image {
    width: 800px;
    background-color:white;
    margin: 0px 10px 0px auto;
    background:white;
    text-align: center;
    padding: 0px 0;
    overflow: hidden;    
}
.top_image img {
    margin: 0px auto 0px auto;
}
